<!-- src/app/components/navbar/navbar.component.html -->
<mat-toolbar color="primary" class="navbar-vertical">
  <div class="navbar-content">
    <button mat-icon-button aria-label="Home" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span class="label">Home</span>
    </button>
    <button mat-icon-button aria-label="Search">
      <mat-icon>search</mat-icon>
      <span class="label">Search</span>
    </button>
    <button mat-icon-button aria-label="Shows" routerLink="/shows">
      <mat-icon>tv</mat-icon>
      <span class="label">Shows</span>
    </button>
    <button mat-icon-button aria-label="Watchlist" routerLink="/watchlist">
      <mat-icon>queue</mat-icon>
      <span class="label">Watchlist</span>
    </button>
  </div>

  <div class="navbar-expandable">
    <!-- No user? Show sign-up/sign-in -->
    <ng-container *ngIf="!(currentUser$ | async); else loggedInTpl">
      <button mat-raised-button color="accent" routerLink="/sign-up">Sign Up</button>
      <button mat-raised-button color="accent" routerLink="/sign-in">Sign In</button>
    </ng-container>

    <!-- Logged in: show username + logout -->
    <ng-template #loggedInTpl>
      <ng-container *ngIf="currentUser$ | async as user">
        <span class="user-name">Welcome, {{ user.username }}</span>
        <button mat-button color="warn" (click)="logout()">Log out</button>
      </ng-container>
    </ng-template>
  </div>
</mat-toolbar>
