<mat-toolbar color="primary" class="navbar-vertical">
  <div class="navbar-content">
    
    <button mat-icon-button aria-label="Home" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span class="label">Home</span>
    </button>

   
    <button mat-icon-button aria-label="Search">
      <mat-icon>search</mat-icon>
      <span class="label">Search</span>
    </button>

    
    <button mat-icon-button aria-label="Shows" routerLink="shows">
      <mat-icon>tv</mat-icon>
      <span class="label">Shows</span>
    </button>

   
    <button mat-icon-button aria-label="Watchlist" routerLink="watchlist">
      <mat-icon>queue</mat-icon>
      <span class="label">Watchlist</span>
    </button>

    
    <button mat-icon-button aria-label="Profile" routerLink="/sign-up">
      <mat-icon>person</mat-icon>
      <span class="label">Profile</span>
    </button>

    

  </div>

  <div class="navbar-expandable">
    <button mat-raised-button color="accent" routerLink="/sign-up">Sign Up</button>
    <button mat-raised-button color="accent" routerLink="/sign-in">Sign In</button>
  </div>
  
</mat-toolbar>


