<mat-toolbar color="primary" class="navbar">
  <span class="logo">Your Navigator for TV Shows</span>
  <span class="spacer"></span>

  <mat-form-field>
    <input matInput type="search">
    <button matSuffix mat-icon-button aria-label="Search">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Language</mat-label>
    <mat-select>
      <mat-option value="en">English</mat-option>
      <mat-option value="es">Español</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="accent" routerLink="/sign-up">Sign Up</button>
  <button mat-raised-button color="accent" routerLink="/sign-in">Sign In</button>
</mat-toolbar>
