// sign-up.component.scss
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Darumadrop+One&family=Playfair+Display:wght@700&family=Abril+Fatface&family=Fredoka+One&family=Oswald:wght@400;700&display=swap" rel="stylesheet');

.sign-up-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/cros.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    background: transparent;
    box-shadow: none;
    padding: 0 40px;
    

    .logo {
      //font-family: 'Oswald', sans-serif;
      font-family: 'Darumadrop One', cursive;
      font-weight: 700;
      font-size: 2.5rem;
      color: rgb(255, 255, 255);

      text-shadow: 1px 1px 3px #071b2081;
      margin: 0;
    }

    .spacer {
      flex-grow: 1;
    }
  }

  .sign-up {
    //#14516095 
    background:  #145160b4;
    color: white;
  }

  mat-card-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    //font-family: 'Quattrocento', serif;
    margin-bottom: 20px;
    margin-top: 20px;
    //font-style: italic;
    
  }

  mat-card-content {
    form {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      label {
        margin-bottom: 5px;
      }

      input {
        border-radius: 5px;
        border-style: none;
        margin-bottom: 10px;
      }

      button {
        align-self: flex-end;
        margin-top: 10px;
        color: #145160f9;
      }
    }
  }
}

.sign-up {
  width: 300px;
  padding: 20px;
  justify-content: center;

  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);
  }
}

  
  .user-toolbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 10px;
    gap: 10px;
  }
  
  .navbar {
    background-color: transparent;
    box-shadow: none;
    justify-content: center;
    color: rgb(45, 37, 37);
    text-align: center;
    width: 100%;
    margin-top: 40px;
    .logo {
      font-family: 'Darumadrop One', cursive;
      font-weight: 700;
      letter-spacing: 1px;
      font-size: 3rem;
      display: inline-block;
    }
  }

  .sign-in-prompt {
    margin-top: 35px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-size: 0.9rem;
    //font-family: 'Quattrocento', serif;
  
    a {
      color: #ffe082;
      text-decoration: underline;
      //font-weight: bold;
    }
  } 
    