<link href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Darumadrop+One&family=Playfair+Display:wght@700&family=Abril+Fatface&family=Fredoka+One&display=swap" rel="stylesheet">




<div class="sign-up-container">
  <mat-toolbar color="primary" class="navbar">
    <span class="logo" routerLink="/home">Your TV Shows Navigator</span>
  
   
  </mat-toolbar>
  <div class="sign-in-box">
  <mat-card class="sign-up">
    <mat-card-title>Join Us Today!</mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()">
        

          <label for="username">Username:</label>
          <input type="text" id="username" [(ngModel)]="username" name="username" required>
      
          <label for="password">Password:</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" required>

          <button mat-raised-button color="accent" type="submit">Sign Up</button>

          <div *ngIf="errorMess" class="error-message">
            {{ errorMess }}
          </div>

        </form>
      </mat-card-content>
      <div class="sign-in-prompt">
        Already have an account? <a routerLink="/sign-in">Sign in</a> now!
      </div>
    </mat-card>

    
  </div>
  </div>