.hero-container {
  text-align: center;
  padding: 20px; /* Reduced padding to move the content closer to the top */
 


  h1 {
    font-family: 'Darumadrop One', cursive;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 0; /* Remove or reduce top margin to move it closer to the top */
  }

  p {
    font-size: 1rem; /* Slightly smaller paragraph font size */
    margin-bottom: 20px;
  }
}
