<!-- Add this in the <head> section of your HTML -->
  <link href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Darumadrop+One&family=Playfair+Display:wght@700&family=Abril+Fatface&family=Fredoka+One&display=swap" rel="stylesheet">
<div class="hero-container">
  <h1>Discover TV Shows</h1>
 <!-- <p>Get personal recommendations tailored to you. We’ll show you where to watch your favorite shows.</p>
  <button mat-raised-button color="primary" routerLink="shows">Get Started</button>-->
</div>
