.user-toolbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 10px;
  gap: 10px; // Adds space between the select and the button
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .spacer {
    flex-grow: 1;
  }

  mat-form-field {
    margin-right: 15px;
    min-width: 150px;
  }
}
