<div class="features-container">
  <mat-card class="feature">
    <mat-card-title>Your persoal TV show guide</mat-card-title>
    <mat-card-content>
      <p>Get personal recommendations tailored to you . We’ll show you where to watch your favorite shows.</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="feature">
    <mat-card-title>Create your own watchlist</mat-card-title>
    <mat-card-content>
      <p>Create watchlist with shows you want to watch .</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="feature">
    <mat-card-title>Every Show in One Search</mat-card-title>
    <mat-card-content>
      <p>Never go back and forth between platforms again to see if a show is available.</p>
    </mat-card-content>
  </mat-card>
</div>
