<!-- Navbar -->

<app-navbar></app-navbar>
<link href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Darumadrop+One&family=Playfair+Display:wght@700&family=Abril+Fatface&family=Fredoka+One&display=swap" rel="stylesheet">

<!-- Header with aligned title -->
<div class="header">
  <h1 class="header-title">TV Show List</h1>
</div>

<!-- Filter Form -->
<form [formGroup]="filterForm" (ngSubmit)="onFilterApply()">
  <div style="display: flex; justify-content: center; gap: 16px; margin: 26px 20px;">
    <p style="font-weight: bold;">BROWSE BY:</p>
    <mat-form-field appearance="fill">
      <mat-label>TITLE</mat-label>
      <input matInput placeholder="Enter title" formControlName="titleContains">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>GENRE</mat-label>
      <input matInput placeholder="Enter genre" formControlName="genre">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>LIMIT</mat-label>
      <input matInput type="number" placeholder="Default 200" formControlName="limit">
    </mat-form-field>
    <button mat-raised-button  type="submit" style="color: #1d7186;">Apply Filters</button>
    <button mat-button  type="button" style="color: #1d7186;" (click)="onFilterClear()">Clear Filters</button>
  </div>
</form>

<!-- Card Layout -->
<div class="card-container">
  <!-- Loop through the shows array, creating a card for each show -->
  <div class="card-item" *ngFor="let show of shows">
    <mat-card (click)="onCardClick(show)" style="cursor: pointer;" >
      <mat-card-header>
        <mat-card-title>{{ show.title }}</mat-card-title>
        <mat-card-subtitle>{{ show.genre }} | {{ show.runtimeMinutes }} min</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Rating: {{ show.rating }}</p>
      </mat-card-content>
      <mat-card-actions>
        <mat-slide-toggle [checked]="isInWatchlist(show)" (change)="toggleWatchlist($event, show)" >
          Watchlist
        </mat-slide-toggle>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
