.card-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;    /* Center the items horizontally */
  gap: 16px;             /* Spacing between rows */
  padding: 16px;
}

.card-item {
  width: 90%;            /* Make each card take up 80% of the container’s width */
  max-width: 1200px;      /* Optional max width for larger screens */
}

.header-title {
  margin-right: 20px;
}

.header{
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-bottom: 16px; 
  background-color: #145160; 
  color: white;

  h1 {
    font-family: 'Darumadrop One', cursive;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 3rem;
    display: inline-block;
  }
}


